@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.chatroomContainer {
  max-width: 800px;
  overflow: hidden;
  height: calc(100vh - 125px);
  margin: 0 auto;
}

.scrollbar {
  overflow-y: auto;
  margin-bottom: 50px;
  width: 100%;
  max-height: calc(100vh - 200px);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #2e2f31; 
  border-radius: 10px; 
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


input[type="text"] {
  background: none; 
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: inherit; 
  font-family: inherit; 
  font-size: inherit; 
}

.user , .chatbot{
  padding:0 44px 40px 0
}

.user-message {
  div{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
  }
  .message {
    background: #626f7d;
    border-radius: 10px;
    padding: 10px 20px;
    word-break: break-all;
  }
}

.bot-message {
  div {
    display: flex;
    gap: 20px;
  }
  .message {
    background: #626f7d;
    border-radius: 10px;
    padding: 10px 20px;
    word-break: break-all;
  }
}